@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1c;
  color: #fff;

  .coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;

    .coin-search {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      .coin-input {
        outline: none;
        padding-left: 16px;
        height: 40px;
        width: 70%;
        border-radius: 4px;
        border: none;
        background-image: linear-gradient(
          -225deg,
          #ac32e4 0%,
          #7918f2 48%,
          #4801ff 100%
        );
      }

      color: #e2e2e2;
    }

    .coin-input::placeholder {
      color: #e2e2e2;
    }

    .coin-text {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
    }
  }
}

// @media only screen and (min-width: 500px) {
//   .coin-app {
//     .coin-text {
//       font-size: 26px;
//     }
//     form {
//       .coin-input {
//         height: 54px;
//       }
//       .coin-input::placeholder {
//         font-size: 18px;
//       }
//     }
//   }
// }
